// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body 
{

    font-size: 10xp;
    font: #000000;
    background-color:#FFFFFF;
    width: 70%;
    height: 100%;
}


.check
{
    font-size: 7px;
}
.input
{
    margin-top: 200px;
}

.output
{
    margin-top: 20px;
}